process {

	resourceLimits = [
	    cpus: params.max_cpus,
	    memory: params.max_memory,
	    time: params.max_time
	]

    cpus   = {  2    * task.attempt   }
    memory = {  30.GB * task.attempt }
    time   = {  4.h  * task.attempt   }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 5
    maxErrors     = '-1'

    withLabel:process_low {
        cpus   = {  4     * task.attempt }
        memory = {  100.GB * task.attempt }
        time   = {  10.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = {  4     * task.attempt }
        memory = { 128.GB * task.attempt }
        time   = { 30.h   * task.attempt }
    }
    withLabel:process_high_disk {
        cpus   = {  4    * task.attempt }
        memory = { 256.GB * task.attempt }
        time   = { 50.h  * task.attempt }
        disk   = { 100.GB * task.attempt }
    }
    withLabel:extract_reads {
        cpus = 4
        memory = 64.GB
        time = 8.h
    }
    withLabel:filter_reads {
        cpus = 4
        memory = 128.GB
        time = 10.h
    }
	withLabel:map_reads {
	    cpus   = 16
	    memory = { 64.GB * task.attempt }
	    time   = { 50.h * task.attempt }
	}
	withLabel:pks_align {
	    cpus   = 4
	    memory = { 128.GB * task.attempt }
	    time   = { 30.h * task.attempt }
	}
	withLabel:pks_hmm {
	    cpus   = 8
	    memory = { 128.GB * task.attempt }
	    time   = { 30.h * task.attempt }
	}
	withLabel:entero_filter {
	    cpus   = 8
	    memory = { 256.GB * task.attempt }
	    time   = { 24.h  * task.attempt }
	}
	withLabel:mag_assembly {
	    cpus   = 16
	    memory = { 64.GB  * task.attempt }
	    time   = { 12.h   * task.attempt }
	}
	withLabel:mag_binning {
	    cpus   = 8
	    memory = { 32.GB  * task.attempt }
	    time   = { 4.h    * task.attempt }
	}
	withLabel:mag_gtdbtk {
	    cpus   = 16
	    memory = { 200.GB * task.attempt }
	    time   = { 24.h   * task.attempt }
	}
	withLabel:mag_hmm {
	    cpus   = 8
	    memory = { 16.GB  * task.attempt }
	    time   = { 4.h    * task.attempt }
	}
}
