/*
 * TSCC-specific execution settings.
 *
 * Run with:
 *   nextflow run main.nf -profile tscc
 */

executor {
    name = 'slurm'
    submitRateLimit = '2sec'
    perCpuMemAllocation = true
}

process {
    executor = 'slurm'
    queue = 'platinum'
    clusterOptions = '-q hcp-ddp302 -A ddp302'
}

// Pre-built conda environments on TSCC (faster than building from yml)
params {
    samtools_env  = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/samtools_env"
    fastp_env     = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/fastp_env"
    minimap2_env  = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/minimap2_env"
    pks_align_env = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/pks_env"
    pks_hmm_env   = "/tscc/nfs/home/l1joseph/miniforge3/envs/pks_hmm_env"
    krakenuniq_bracken_env = "/tscc/nfs/home/l1joseph/miniforge3/envs/krakenuniq_bracken_env"

    // MAG conda environments (pre-built on TSCC)
    mag_assembly_env   = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/qiime2-shotgun-2024.2"
    mag_binning_env    = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/pks_mag"
    mag_gtdbtk_env     = "/tscc/projects/ps-lalexandrov/amabbasi/anaconda3/envs/pks_mag"
    mag_annotation_env = "/tscc/lustre/restricted/alexandrov-ddn/users/l1joseph/conda_envs/pks_prokka"

    hg38_db     = "/tscc/projects/ps-lalexandrov/shared/CMPipeline_nextflow/dbs/human-GRC-db.mmi"
    t2t_phix_db = "/tscc/projects/ps-lalexandrov/shared/CMPipeline_nextflow/dbs/human-GCA-phix-db.mmi"
}